# xetex document outline
snippet xtemplate
	\documentclass{${1:article}}
	\usepackage{fontspec}

	\begin{document}

	\end{document}

# My standard comment block
snippet ptcomment
	#-----------------------------------------------------------------------
	# ${1}

